:root {
  font-family: 'FuturaHandwritten';
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: style;
}

@font-face{
	font-family: 'FuturaHandwritten';
	font-style: normal;
	src: url('FuturaHandwritten.ttf') format('truetype');
}

.inverted {
  color: #ffffff;
  background-color: #213547;
  padding: 5px
}

p b {
  font-weight: normal;
  text-shadow: 0.75px 0 0.5px currentColor;
}

a {
  font-weight: 500;
  color: #6064b3;
  text-decoration: inherit;
}
a:hover {
  color: #464cca;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d7d7d7;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
